<div class="app">
  <app-navbar></app-navbar>

  <main class="page">
    <h1>Product Listing</h1>

    <app-product-toolbar
      [query]="query()"
      [sort]="sort()"
      [showStatusSelect]="false"
      searchPlaceholder="Search products..."
      (queryChange)="query.set($event)"
      (sortChange)="sort.set($any($event))"
      (addClick)="onAddProduct()"
    ></app-product-toolbar>

    <app-product-table
      [products]="filtered()"
      [selectedIds]="selectedIds()"
      [loading]="loading()"
      [error]="error()"
      (selectionChange)="onSelectionChange($event)"
    ></app-product-table>
  </main>
</div>

<app-product-form-modal
  [show]="showAddModal()"
  [saving]="saving()"
  [product]="newProduct()"
  title="Add Product"
  submitButtonText="Add Product"
  (close)="closeModal()"
  (save)="saveProduct()"
  (productChange)="onProductChange($event)"
></app-product-form-modal>